body {
	background: url('fantasy.jpg');
}

h1 {
	font-size: 56px;
	text-align: center;
	font-family: 'Eater', cursive;
	color: #F5F5DC;
	text-shadow: 0px 0px 4px red;
}

#button {
	background-color: yellow;
	font-size: 24px;
	border-radius: 40px;
	color: red;
	font-weight: bold;
	width: 340px;
	margin: 2px auto;
	text-align: center;
	padding: 1em;
}

#result {
	font-family: 'Philosopher', sans-serif;
	color: green;
	text-align: center;
	font-size: 4em;
	text-shadow: 2px 2px 3px white;
}

#death {
	font-family: 'Freckle Face', cursive;
	color: red;
	animation: neon1 0.5s ease-in-out infinite alternate;
	text-align: center;
	font-size: 4em;
}

/* Keyframe Animation */
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}



